<a href="https://colab.research.google.com/github/santiagorey16/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#primer punto
Permite repetir una o más acciones de acuerdo con una condición (mientras se cumpla la condición)

##Estructura para -for

1. Cuando se sabe cuantas veces se repite una acción.
2. Esta confromado por una condición final (CI) una condición final (CF) y pasos (frecuencia de repetición).
3. Esta estructura no se detendrá, hasta alcanzar CF-1

Estructura del for
```
for (variable) in range (CI,CF+1,paso):
  Se repite (CF+1-CI)/paso veces una acción
```
Estructura resumida del for
```
for (variable) in range (cantidad):
  Se repite canidad de veces una acción
```
Estructura for como iteración
1. El para (for) itera tantas veces, como elementos tenga la lista
2. La variable toma el valor de cada elemento de la lista por iteración

```
Lista=[1,2,3,4,5]
for (variable) in Lista:
  Se repite Len(Lista)
```

In [ ]:
#Hacer la tabala de multiplicar de un numero n
a=int(input("Ingresa un numero: "))
print(f"Tabla del {a}")
for e in range(1,11,1):
  print(f"{e} x {a} = {a*e}")

Ingresa un numero: 4
Tabla del 4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

In [ ]:
print("Tablas de 1 al 10\n")
for tabla in range(1,11,1):
  print(f"tabla del {tabla}")
  for numero in range(1,11,1):
    print(f"{tabla} x {numero} = {tabla*numero}")
  print(" ")

Tablas de 1 al 10

tabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

tabla del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

tabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
n=int(input("Ingresa un numero "))
print(f"Tabla del {n}")
for holitas in range(n,11*n,n):
  print(f"{n} x {(int(holitas/n))} = {int(holitas)}")

Ingresa un numero 7
Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
numeros2=list(range(1,11))
numeros2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in numeros2:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

##Listas
1. Es un tipor de datos
2. Todos los elementos de una lista, **deben** separarse por comas
3. Formas canónica para declarar una lista
lista
```
(variable) = []
```
Ejemplo:
flores=["amapolas", "tulipan", "Lengua de suegra", dahlia,rosa]

In [38]:
dahlia=3 #variable de tipo numérico, int
rosa="cinco" #variable de tipo alfabetico, str
flores=["amapolas", "tulipan", "Lengua de suegra", dahlia,rosa]

4. Manual.

```
Lista2=[dato1,dato2,dato3...datoN]
```
5. Simepre son finitas
6. Son indexadas
```
Lista2=[dato1,dato2,dato3...datoN]
```
dato1 esta en el index 0
dato2 esta ubicado en el index 1
7. Estrcuturas para **para** la creación de listas

```
#Ejemplo: Crear una lista de 5 elementos
lista=[]#para que el programa sepa que es una lista
for loquesea in range(5):
  lista=input("ingrese el nombre de una flor")
```

In [67]:
lista=[]
for loquesea in range(5):
  lista=input("ingrese el nombre de una flor ")

KeyboardInterrupt: Interrupted by user

In [ ]:
flores

In [ ]:
#Quiero saber quién esta en la primera posición
flores[0]

Saber quién esta en la ultima posición

In [ ]:
len(flores)

In [ ]:
flores[4]

In [ ]:
flores[len(flores)-1]

In [ ]:
flores.index("Lengua de suegra")

In [ ]:
type(lista)

In [69]:
lista=[]
for loquesea in range(5):
  lista.append(loquesea)

In [70]:
loquesea

4

In [ ]:
lista

#1

In [40]:
#1
for a in range(1,101):
  print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [46]:
#1
b=list(range(1,101,1))
for a in b:
  print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [42]:
b

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

#2

In [65]:
res=1
for e in range(2,101):
  print(f"{res} + {e} = {res+e}")
  res=res+e

1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15
15 + 6 = 21
21 + 7 = 28
28 + 8 = 36
36 + 9 = 45
45 + 10 = 55
55 + 11 = 66
66 + 12 = 78
78 + 13 = 91
91 + 14 = 105
105 + 15 = 120
120 + 16 = 136
136 + 17 = 153
153 + 18 = 171
171 + 19 = 190
190 + 20 = 210
210 + 21 = 231
231 + 22 = 253
253 + 23 = 276
276 + 24 = 300
300 + 25 = 325
325 + 26 = 351
351 + 27 = 378
378 + 28 = 406
406 + 29 = 435
435 + 30 = 465
465 + 31 = 496
496 + 32 = 528
528 + 33 = 561
561 + 34 = 595
595 + 35 = 630
630 + 36 = 666
666 + 37 = 703
703 + 38 = 741
741 + 39 = 780
780 + 40 = 820
820 + 41 = 861
861 + 42 = 903
903 + 43 = 946
946 + 44 = 990
990 + 45 = 1035
1035 + 46 = 1081
1081 + 47 = 1128
1128 + 48 = 1176
1176 + 49 = 1225
1225 + 50 = 1275
1275 + 51 = 1326
1326 + 52 = 1378
1378 + 53 = 1431
1431 + 54 = 1485
1485 + 55 = 1540
1540 + 56 = 1596
1596 + 57 = 1653
1653 + 58 = 1711
1711 + 59 = 1770
1770 + 60 = 1830
1830 + 61 = 1891
1891 + 62 = 1953
1953 + 63 = 2016
2016 + 64 = 2080
2080 + 65 = 2145
2145 + 66 = 2211
2211 + 67 = 2278
2278 + 68 = 2346
2346 + 69 = 2415
2415 + 70 = 2485
2485 + 71 = 2556
2556 + 72 = 2628
2628 + 73 = 2701
2701 + 74 = 2775
2775 + 75 = 2850
2850 + 76 = 2926
2926 + 77 = 3003
3003 + 78 = 3081
3081 + 79 = 3160
3160 + 80 = 3240
3240 + 81 = 3321
3321 + 82 = 3403
3403 + 83 = 3486
3486 + 84 = 3570
3570 + 85 = 3655
3655 + 86 = 3741
3741 + 87 = 3828
3828 + 88 = 3916
3916 + 89 = 4005
4005 + 90 = 4095
4095 + 91 = 4186
4186 + 92 = 4278
4278 + 93 = 4371
4371 + 94 = 4465
4465 + 95 = 4560
4560 + 96 = 4656
4656 + 97 = 4753
4753 + 98 = 4851
4851 + 99 = 4950
4950 + 100 = 5050

In [66]:
res=1
a=range(2,101)
for e in a:
  print(f"{res} + {e} = {res+e}")
  res=res+e

1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15
15 + 6 = 21
21 + 7 = 28
28 + 8 = 36
36 + 9 = 45
45 + 10 = 55
55 + 11 = 66
66 + 12 = 78
78 + 13 = 91
91 + 14 = 105
105 + 15 = 120
120 + 16 = 136
136 + 17 = 153
153 + 18 = 171
171 + 19 = 190
190 + 20 = 210
210 + 21 = 231
231 + 22 = 253
253 + 23 = 276
276 + 24 = 300
300 + 25 = 325
325 + 26 = 351
351 + 27 = 378
378 + 28 = 406
406 + 29 = 435
435 + 30 = 465
465 + 31 = 496
496 + 32 = 528
528 + 33 = 561
561 + 34 = 595
595 + 35 = 630
630 + 36 = 666
666 + 37 = 703
703 + 38 = 741
741 + 39 = 780
780 + 40 = 820
820 + 41 = 861
861 + 42 = 903
903 + 43 = 946
946 + 44 = 990
990 + 45 = 1035
1035 + 46 = 1081
1081 + 47 = 1128
1128 + 48 = 1176
1176 + 49 = 1225
1225 + 50 = 1275
1275 + 51 = 1326
1326 + 52 = 1378
1378 + 53 = 1431
1431 + 54 = 1485
1485 + 55 = 1540
1540 + 56 = 1596
1596 + 57 = 1653
1653 + 58 = 1711
1711 + 59 = 1770
1770 + 60 = 1830
1830 + 61 = 1891
1891 + 62 = 1953
1953 + 63 = 2016
2016 + 64 = 2080
2080 + 65 = 2145
2145 + 66 = 2211
2211 + 67 = 2278
2278 + 68 = 2346
2346 + 69 = 2415
2415 + 70 = 2485
2485 + 71 = 2556
2556 + 72 = 2628
2628 + 73 = 2701
2701 + 74 = 2775
2775 + 75 = 2850
2850 + 76 = 2926
2926 + 77 = 3003
3003 + 78 = 3081
3081 + 79 = 3160
3160 + 80 = 3240
3240 + 81 = 3321
3321 + 82 = 3403
3403 + 83 = 3486
3486 + 84 = 3570
3570 + 85 = 3655
3655 + 86 = 3741
3741 + 87 = 3828
3828 + 88 = 3916
3916 + 89 = 4005
4005 + 90 = 4095
4095 + 91 = 4186
4186 + 92 = 4278
4278 + 93 = 4371
4371 + 94 = 4465
4465 + 95 = 4560
4560 + 96 = 4656
4656 + 97 = 4753
4753 + 98 = 4851
4851 + 99 = 4950
4950 + 100 = 5050

#3

In [ ]:
#3
for e in range(3,33,3):
  print(e)

In [44]:
#3
a=list(range(3,33,3))
for e in a:
  print(e)

3
6
9
12
15
18
21
24
27
30

In [45]:
a

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

#4

In [54]:
a=int(input("Ingresa un numero: "))
print(f"Tabla del {a}")
for e in range(1,11,1):
  print(f"{a} x {e} = {a*e}")

Ingresa un numero: 4
Tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [56]:
woli=list(range(1,11,1))
a=int(input("Ingresa un numero: "))
print(f"Tabla del {a}")
for e in woli:
  print(f"{a} x {e} = {a*e}")

Ingresa un numero: 5
Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
a=