<a href="https://colab.research.google.com/github/santiagorey16/PROGCOM-A/blob/main/Clase_3_Funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Funciones
Copiado dinámico.
Dió nacimiento a un nuevo paradigma de programación modular.
##Forma general de programar funciones.

```
def (nombre_de_función)(p,p2,p3...pn):
  donde p,p2,p3...pn: son parámetros
```

1. list()
2. len()
3. print()
4. append()
5. int()
6. input()

##Tipo de funciones
1. Sin parámetros, sin entorno
2. Sin parámetros, con retorno
3. Con parámetros, sin retorno
4. Con parámetros, con entorno

###1.Sin parámetros, sin entorno
Se emplea como copiado dinámico

In [ ]:
#Ejemplo: Entrada de cajero electrónico
def cajero(): #Esto significa que es sin parámetros
  print("Bienvenido a DaviUNAB")
  print("Estas son las operaciones que se pueden realizar")
  print("1. Retirar\n2. Transferencias\n3. Denunciar\n4. Opereciones sin targeta")

In [ ]:
a = input(cajero())

Bienvenido a DaviUNAB
Estas son las operaciones que se pueden realizar
1. Retirar
2. Transferencias
3. Denunciar
4. Opereciones sin targeta
None4
escogiste la opción 4

###2.Sin parámetros, con retorno

In [ ]:
def cajero2(): #Esto significa que es sin parámetros
  print("Bienvenido a DaviUNAB")
  print("Estas son las operaciones que se pueden realizar")
  print("1. Retirar\n2. Transferencias\n3. Denunciar\n4. Opereciones sin targeta")
  rta=input("ingresa una opción ")
  return rta

In [ ]:
cajero2()

Bienvenido a DaviUNAB
Estas son las operaciones que se pueden realizar
1. Retirar
2. Transferencias
3. Denunciar
4. Opereciones sin targeta
ingresa una opción 2

In [ ]:
rta=cajero()

Bienvenido a DaviUNAB
Estas son las operaciones que se pueden realizar
1. Retirar
2. Transferencias
3. Denunciar
4. Opereciones sin targeta
ingresa una opción 2

In [ ]:
type(rta)

NoneType

###Con parametros, sin retorno

In [ ]:
#Ejemplo:el area de un rectángulo
def ab(u,du):
  print(f"El área de un rectángulo de base {u} y altura {du} es {u*du}")

In [ ]:
a=ab(2,3)

El área de un rectángulo de base 2 y altura 3 es 6

In [ ]:
print(a)

4

###4.Con parámetros, con entorno

In [ ]:
def area_rectangulo(u,du):
  return f"El área de un rectángulo de base {u} y altura {du} es {u*du}"

In [ ]:
a=area_rectangulo(10,15)

In [ ]:
print(a)

El área de un rectángulo de base 10 y altura 15 es 150

##Funciones anonimas o lambda
1. Siempre usan parámetros
2. Siempre genera retorno
3. No tienen nombre -->anónimas
4. **Se puede emplear n parámetros, pero sólo ejecuta una línea de codigo**
###Defición de funciones LAMBDA

```
variable=lambda (p,p1,p2...pn)
operación
```

In [ ]:
#Ejemplo: calcular el área de un triangulo
area_triangulo=lambda a,b:a+a*b/2

In [ ]:
area_triangulo(3,8)

15.0

In [ ]:
x=int(input("Ingrese la altura de un triangulo"))
y=int(input("Ingrese la base de un triangulo"))
area_triangulo(x,y)

In [ ]:
area_circulo=lambda b:3.14*b**2

In [ ]:
area_circulo(4)

50.24

In [ ]:
valor=lambda a,b,c:(max(a,b,c))
valor(3,6,9)

9

In [ ]:
valor(3,6,9)

9

##1

In [ ]:
def cuadrado(a):
  return f"El cuadrado de {a} es {a**2}"
a=cuadrado(5)
print(a)

El cuadrado de 5 es 25

In [ ]:
cuadrado=lambda a:(a**2)
cuadrado(5)

25

##2

In [37]:
def saludo(gab):
    woli = [
        f"Hola {gab}, ¡qué alegría verte hoy!",
        f"Bienvenido {gab}, espero que tu día sea increíble.",
        f"¡Hola {gab}! Te estaba esperando con mucha energía positiva.",
        f"Saludos cordiales, {gab}. ¡Que todo te vaya excelente!",
        f"¡Muy buenos días, {gab}! :)",
        f"Qué gusto saludarte, {gab}. ¡Vamos por un gran día!",
        f"{gab}, recuerda que eres una persona única y especial.",
        f"¡Hola {gab}! Hoy es un gran día para sonreír.",
        f"Bienvenido {gab}, que la luz te acompañe siempre.",
        f"¡Hey {gab}! Me alegra mucho verte por aquí.",
        f"Hola {gab}, que cada paso que des hoy te acerque a tus sueños.",
        f"¡Saludos, {gab}! Que tengas un día lleno de magia.",
        f"{gab}, eres una fuente de inspiración para los demás.",
        f"¡Hola {gab}! Que la alegría sea tu compañera hoy.",
        f"Bienvenido {gab}, ¡gracias por estar aquí!",
        f"Qué honor tenerte aquí, {gab}. ;)",
        f"¡Hola {gab}! Nunca olvides lo valioso que eres.",
        f"Saludos cálidos para ti, {gab}.",
        f"Hola {gab}, ¡hoy es un día perfecto para empezar algo nuevo!",
        f"¡Hola querido {gab}! Estoy feliz de compartir este momento contigo."
    ]
    return random.choice(woli)
print(saludo("Santiago"))

¡Hey Santiago! Me alegra mucho verte por aquí.

In [46]:
saludos=lambda gab: random.choice([ f"Hola {gab}, ¡qué alegría verte hoy!",
        f"Bienvenido {gab}, espero que tu día sea increíble.",
        f"¡Hola {gab}! Te estaba esperando con mucha energía positiva.",
        f"Saludos cordiales, {gab}. ¡Que todo te vaya excelente!",
        f"¡Muy buenos días, {gab}! :)",
        f"Qué gusto saludarte, {gab}. ¡Vamos por un gran día!",
        f"{gab}, recuerda que eres una persona única y especial.",
        f"¡Hola {gab}! Hoy es un gran día para sonreír.",
        f"Bienvenido {gab}, que la luz te acompañe siempre.",
        f"¡Hey {gab}! Me alegra mucho verte por aquí.",
        f"Hola {gab}, que cada paso que des hoy te acerque a tus sueños.",
        f"¡Saludos, {gab}! Que tengas un día lleno de magia.",
        f"{gab}, eres una fuente de inspiración para los demás.",
        f"¡Hola {gab}! Que la alegría sea tu compañera hoy.",
        f"Bienvenido {gab}, ¡gracias por estar aquí!",
        f"Qué honor tenerte aquí, {gab}. ;)",
        f"¡Hola {gab}! Nunca olvides lo valioso que eres.",
        f"Saludos cálidos para ti, {gab}.",
        f"Hola {gab}, ¡hoy es un día perfecto para empezar algo nuevo!",
        f"¡Hola querido {gab}! Estoy feliz de compartir este momento contigo."])
saludos("Santiago")

'Hola Santiago, ¡hoy es un día perfecto para empezar algo nuevo!'

##3

In [47]:
def ma(a,b):
  print(f"La suma de {a} + {b} es {a+b}")
  print(f"La resta de {a} - {b} es {a-b}")
  print(f"La multiplicación de {a} + {b} es {a*b}")
  print(f"La divición de {a} + {b} es {a/b}")
ma(2,9)

La suma de 2 + 9 es 11
La resta de 2 - 9 es -7
La multiplicación de 2 + 9 es 18
La divición de 2 + 9 es 0.2222222222222222

In [48]:
ma=lambda a,b:(a+b,a-b,a*b,a/b)
ma(2,9)

(11, -7, 18, 0.2222222222222222)

##4

In [64]:
def edad(a):
  if a>=18:
    print("eres mayor de edad")
  else:
    print("eres menor de edad")
    return
edad(19)

eres mayor de edad

In [56]:
edad=lambda a:("eres mayor de edad" if a>=18  else "eres menor de edad")
edad(13)

'eres menor de edad'

##5

In [71]:
def pali(t):
  if t == t[::-1]:
    print("es palindromo")
  else:
    print("no es palindromo")
pali("woli")

no es palindromo

In [72]:
pali=lambda t: "es palindromo" if t==t[::-1] else "no es palindromo"
pali("aña")

'es palindromo'

##6

In [74]:
def y(g):
  print(len(g))
y("hola")
y("rtvtyjjjfjrdf")

4
13

In [75]:
y=lambda g: len(g)
y("tolo")

4

##7

In [83]:
def t(f):
  return sum(f)
print(t([1,2,3,4,5]))

15

In [87]:
t=lambda f:sum(f)

print(t([1, 2, 3, 4, 5]))

15

##8

In [89]:
def m(u):
  print(max(u),min(u))
m([1,2,3,4,5])

5 1

In [91]:
m=lambda u: (max(u),min(u))
print(m([1,2,3,4,5]))

(5, 1)

##9

In [92]:
def b(kl):
  print(kl[::-1])
b([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [94]:
b=lambda kl: (kl[::-1])
print(b([1,2,3,4,5]))

[5, 4, 3, 2, 1]

##10

In [97]:
def kj(dl):
  resultado = []
  for h in dl:
      if h[0].lower() in "aeiou":
        resultado.append(h)
  return resultado

nombres = ["Ana", "Oscar", "Pedro", "Elena", "Uriel", "Sofía", "Ignacio", "María"]
print(kj(nombres))

['Ana', 'Oscar', 'Elena', 'Uriel', 'Ignacio']

In [100]:
kj = lambda dl: [h for h in dl if h[0].lower() in "aeiou"]
nombres = ["Ana", "Oscar", "Pedro", "Elena", "Uriel", "Sofía", "Ignacio", "María"]
print(kj(nombres))

['Ana', 'Oscar', 'Elena', 'Uriel', 'Ignacio']

##11

In [105]:
def v(hg):
 return list(set(hg))
print(v([1, 2, 2, 3, 4, 4, 5, 4, "f", "f"]))

[1, 2, 3, 4, 5, 'f']

In [106]:
v=lambda hg: list(set(hg))
print(v([1, 2, 2, 3, 4, 4, 5, 4, "f", "f"]))

[1, 2, 3, 4, 5, 'f']

##12

In [118]:
def df(ef):
    wa = []
    for n in ef:
        if n > 1:
            shi = True
            for i in range(2, n):
                if n % i == 0:
                    shi = False
                    break
            if shi:
                wa.append(n)
    return wa
numeros = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11,13,15,17]
print(primos_en_lista(numeros))

[2, 3, 5, 7, 11, 13, 17]

In [117]:
df = lambda ef: [n for n in ef if n > 1 and all(n % i != 0 for i in range(2, n))]
numeros = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17]
print(df(numeros))

[2, 3, 5, 7, 11, 13, 17]

##13

In [121]:
def ms(dic):
    nombre = dic["nombre"]
    edad = dic["edad"]
    return f"El nombre es {nombre} y tiene {edad} años."
persona = {"nombre": "Ana", "edad": 25}
print(ms(persona))

El nombre es Ana y tiene 25 años.

In [122]:
ms = lambda dic: f"El nombre es {dic['nombre']} y tiene {dic['edad']} años."
persona = {"nombre": "Carlos", "edad": 30}
print(ms(persona))

El nombre es Carlos y tiene 30 años.

##14

In [119]:
def xz(qw):
    ab = 0
    for rt in qw.values():
        ab += rt
    return ab
productos = {"pan": 3000, "leche": 4500, "queso": 12000}
print(xz(productos))

19500

In [120]:
xz = lambda qw: sum(qw.values())
productos = {"pan": 3000, "leche": 4500, "queso": 12000}
print(xz(productos))

19500

##15

In [123]:
def kl(zx):
    rt = sum(zx.values())
    qp = len(zx)
    return rt / qp if qp > 0 else 0
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.2}
print(kl(st))

4.166666666666667

In [124]:
kl = lambda zx: sum(zx.values()) / len(zx) if len(zx) > 0 else 0
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.2}
print(kl(st))

4.166666666666667

##16

In [127]:
def hj(xz, nm):
    return xz[nm] if nm in xz else "no encontrado"
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.9}
print(hj(st, "Carlos"))
print(hj(st, "Pedro"))

3.8
no encontrado

In [128]:
hj = lambda xz, nm: xz[nm] if nm in xz else "no encontrado"
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.9}
print(hj(st, "Ana"))
print(hj(st, "Luis"))

4.5
no encontrado

##17

In [125]:
def fg(xy):
    ab = max(xy, key=xy.get)
    return ab
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.9}
print(fg(st))

María

In [126]:
fg = lambda xy: max(xy, key=xy.get)
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.9}
print(fg(st))

María

##18

In [129]:
def rt(qw, vl):
    rs = {}
    for k, v in qw.items():
        if v > vl:
            rs[k] = v
    return rs
pr = {"pan": 3000, "leche": 4500, "queso": 12000, "huevos": 2000}
print(rt(pr, 4000))

{'leche': 4500, 'queso': 12000}

In [130]:
rt = lambda qw, vl: {k: v for k, v in qw.items() if v > vl}
pr = {"pan": 3000, "leche": 4500, "queso": 12000, "huevos": 2000}
print(rt(pr, 4000))

{'leche': 4500, 'queso': 12000}

##19

In [131]:
def zx(qw):
    rs = {}
    for k, v in qw.items():
        rs[k] = sum(v)
    return rs
st = {
    "Ana": [5, 6, 4],
    "Carlos": [8, 7, 6],
    "María": [4, 4, 5, 6]
}
print(zx(st))

{'Ana': 15, 'Carlos': 21, 'María': 19}

In [132]:
zx = lambda qw: {k: sum(v) for k, v in qw.items()}
st = {
    "Ana": [5, 6, 4],
    "Carlos": [8, 7, 6],
    "María": [4, 4, 5, 6]
}
print(zx(st))

{'Ana': 15, 'Carlos': 21, 'María': 19}

##20

In [133]:
def rt(qw):
    nt = [v["nota"] for v in qw.values() if v["edad"] >= 18]
    return sum(nt) / len(nt) if nt else 0
st = {
    "Ana": {"nota": 4.5, "edad": 17},
    "Carlos": {"nota": 3.8, "edad": 20},
    "María": {"nota": 4.9, "edad": 22}
}
print(rt(st))

4.35

In [ ]:
rt = lambda qw: (sum(v["nota"] for v in qw.values() if v["edad"] >= 18) /
                 len([v for v in qw.values() if v["edad"] >= 18])
                 if any(v["edad"] >= 18 for v in qw.values()) else 0)
st = {
    "Ana": {"nota": 4.5, "edad": 17},
    "Carlos": {"nota": 3.8, "edad": 20},
    "María": {"nota": 4.9, "edad": 22}
}
print(rt(st))